<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      All articles belong to <a href='http://screenrant.com/movie-news' target="_blank">Screenrant</a>
      <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
    </div>
  </div>
</footer>